body {
    background-color: $colorprimario;
    font-family: $font-universal;
    margin: 0px;
}

.colorprimario {
    background-color: $colorprimario;
}

.colorsecunadario {
    background-color: $colorsecunadario;
}