$colorprimario:rgb(245, 245, 220);

$colorsecunadario:rgb(225, 213, 175);

$color-auxiliar: black;

$font-titulo-desktop: 30px;

$font-titulo-movil:20px;

$mediaMobile:600px;

$mediadesktop:600px;




