.margencon {
    margin-top: 250px;
}

.palabra-formulario {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.input {
    background: $colorsecunadario;
    border-radius: 10px;
    width: 336px;
    height: 30px;
    border: 2px solid black;
}

.magenco {
    margin-bottom: 15px;
}

.botonco {
    text-align: center;
    background-color: $colorsecunadario;
    border-radius: 100px;
    border: 2px solid black;
}

@media screen and (max-width: $mediaMobile) {
    .bajarmas {
        margin-top: 240px;
    }
}